# Home Assistant core
aiohttp==3.5.4
astral==1.7.1
async_timeout==3.0.1
attrs==18.2.0
bcrypt==3.1.5
certifi>=2018.04.16
jinja2>=2.10
PyJWT==1.6.4
cryptography==2.3.1
pip>=8.0.3
python-slugify==1.2.6
pytz>=2018.07
pyyaml>=3.13,<4
requests==2.21.0
ruamel.yaml==0.15.85
voluptuous==0.11.5
voluptuous-serialize==2.0.0

mysqlclient

# homeassistant.components.frontend
home-assistant-frontend

# xiaomi_miio
python-miio==0.4.4

# homeassistant.components.homekit
HAP-python==2.4.2

# homeassistant.components.xiaomi_aqara
PyXiaomiGateway==0.11.1

# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.media_player.gpmdp
websocket-client==0.37.0

# homeassistant.components.mqtt
paho-mqtt==1.4.0

# homeassistant.components.media_player.kodi
jsonrpc-async==0.6

# homeassistant.components.media_player.kodi
jsonrpc-websocket==0.6

# homeassistant.components.notify.html5
pywebpush==1.6.0

# homeassistant.components.cast
pychromecast==2.1.0

# homeassistant.components.light.yeelight
#yeelight==0.4.3

# homeassistant.components.zeroconf
zeroconf==0.21.3
netifaces==0.10.7
